/* コンテナ全体 */
.container {
 max-width: 650px;
 margin: 0 auto;
 padding: 20px 0 40px;
 font-size: 16px;
}

/* タイトル */
.title h2 {
 font-size: 24px;
 font-weight: bold;
 margin-bottom: 40px;
}

/* 各行の共通スタイル */
.name,
.workdate,
.attendance,
.break-row,
.remarks {
 display: flex;
 align-items: center;
 height: 50px;
 gap: 20px;
 margin-bottom: 22px;
 font-weight: bold;
 width: 100%;
 box-sizing: border-box;
 position: relative;
 background-color: #0069d9;
 color: white;
 padding: 0 20px;
}

/* 下線 */
.name::after,
.workdate::after,
.attendance::after,
.break-row::after,
.remarks::after {
 content: "";
 position: absolute;
 bottom: 0;
 left: -30px;
 width: calc(100% + 60px);
 height: 1px;
 background-color: #dee2e6;
}

/* 中身のボックス */
.name .user-name,
.workdate .year,
.workdate .date,
.attendance .time-box,
.break-row .time-box,
.remarks_text {
 font-weight: normal;
 display: flex;
 align-items: center;
 background-color: aqua;
 height: 100%;
 padding: 0 10px;
}

/* 時間入力欄 */
.time-box input[type="time"] {
 width: 120px;
 padding: 6px;
 font-size: 16px;
 border: 1px solid #ccc;
 border-radius: 4px;
}

/* 備考欄 */
.remarks_text {
 flex: 1;
 background-color: aqua;
 padding: 0 10px;
}


.button-wrapper {
 display: flex;
 justify-content: flex-end;
}

/* ボタン */
.button-disabled,
.button-enabled {
 width: 17%;
 padding: 10px;
 text-align: center;
 margin-left: auto;
 color: white;
 border: none;
 font-size: 17px;
 border-radius: 6px;
 margin-top: 25px;
 background-color: black;
 cursor: pointer;
}