.container {
 max-width: 900px;
 margin: 0 auto;
 padding: 20px;
 background-color: #f9f9f9;
}

.title {
 font-size: 32px;
 font-weight: bold;
 margin-bottom: 48px;
}

/* タブのスタイル */
.nav-tabs {
 border-bottom: 2px solid black;
 margin-bottom: 48px;
}

.nav-tabs .nav-item a {
 display: inline-block;
 padding: 10px 20px;
 margin-right: 60px;
 border: none;
 border-bottom: none;
 color: #333;
 text-decoration: none;
 border-radius: 5px 5px 0 0;
}

.nav-tabs .nav-item a.active {
 background-color: #fff;
 font-weight: bold;
 border-bottom: 2px solid #fff;
}

.container .table {
 width: 100%;
 max-width: 900px;
 margin: 0 auto;
 font-size: 1rem;
 text-align: center;

 border-collapse: separate !important;
 border-spacing: 0;
 border-radius: 12px;
 overflow: hidden;

 /* 外枠だけ残す */
 border: 1px solid #dee2e6;
}

/* テーブルのスタイル */
.table-bordered {
 border: 1px solid white;
 border-collapse: collapse;
 width: 100%;
}

.table-bordered th,
.table-bordered td {
 border: 1px solid #dee2e6;
 padding: 12px;
 text-align: center;
 vertical-align: middle;
 font-size: 14px;
}

.table-bordered th,
.table-bordered td {
 width: calc(100%/6);
}


.table-bordered thead th {
 background-color: white;
 font-weight: bold;
}

.table td,
.table th {
 border-left: none;
 border-right: none;
}

.table td:first-child,
.table th:first-child {
 border-left: 1px solid #dee2e6;
}

.table td:last-child,
.table th:last-child {
 border-right: 1px solid #dee2e6;
}


/* 詳細リンク */
.table-bordered td a {
 color: black;
 font-weight: bold;
 text-decoration: none;
}

/* コンテナの余白調整 */
.container {
 padding-top: 30px;
 padding-bottom: 30px;
}